---
layout: archive
title: "Öğretmenler ve Meraklıları için Astronomi Kursu"
permalink: /astronomikursu/
author_profile: true
---

{% include base_path %}

{% for post in site.astronomikursu reversed %}
  {% include archive-single.html %}
{% endfor %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130299748-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130299748-1');
</script>
